In [15]:
import numpy as np
import pandas as pd
import seaborn as sns

In [16]:
df1=pd.read_csv('E:\\working_DATA\\RELIANCE.NS.csv')

In [17]:
df=df1.drop('Date',axis=1)

In [18]:
df.head()

          Open         High          Low        Close    Adj Close    Volume
0  2500.000000  2516.300049  2495.000000  2503.100098  2495.586670   5062651
1  2467.449951  2467.449951  2403.000000  2420.399902  2413.134521  10665470
2  2421.100098  2443.899902  2411.350098  2421.500000  2414.231445   5216466
3  2419.949951  2427.000000  2402.000000  2419.199951  2411.938232   3994321
4  2436.000000  2467.949951  2421.000000  2457.100098  2449.724609   5766936

In [19]:
X=df.drop('Close',axis=1)
y=df['Close']

In [20]:
X

            Open         High          Low    Adj Close    Volume
0    2500.000000  2516.300049  2495.000000  2495.586670   5062651
1    2467.449951  2467.449951  2403.000000  2413.134521  10665470
2    2421.100098  2443.899902  2411.350098  2414.231445   5216466
3    2419.949951  2427.000000  2402.000000  2411.938232   3994321
4    2436.000000  2467.949951  2421.000000  2449.724609   5766936
..           ...          ...          ...          ...       ...
242  2747.000000  2815.050049  2728.000000  2796.699951  10254545
243  2817.000000  2837.449951  2793.000000  2820.449951  11937761
244  2830.000000  2856.000000  2797.000000  2841.850098  18054869
245  2580.000000  2630.949951  2580.000000  2619.850098  19358812
246  2609.000000  2614.899902  2523.600098  2538.750000  15124619

[247 rows x 5 columns]

In [21]:
y

0      2503.100098
1      2420.399902
2      2421.500000
3      2419.199951
4      2457.100098
          ...
242    2796.699951
243    2820.449951
244    2841.850098
245    2619.850098
246    2538.750000
Name: Close, Length: 247, dtype: float64

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [23]:
# nor=Normalizer()
# nor.fit(X_train)
# X_train=nor.transform(X_train)
# X_test=nor.transform(X_test)

In [24]:
from sklearn.preprocessing import StandardScaler,Normalizer
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [25]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr=lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)
lr.score(X_test,y_test)

0.9997047348025943

In [26]:
from sklearn.metrics import mean_squared_error,r2_score 
r2_score(y_test,y_pred)

0.9997047348025943

In [27]:
lr.coef_

array([-1.67081261e+00,  3.44440957e+00,  1.18201407e+00,  1.26144676e+02,
       -1.02544109e-01])

In [28]:
lr.intercept_

2493.72387080203